@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    CodeHub Project <br />
    Name: BookNGo <br />
    Language: English <br />
    Contributors: George Kara ,Meletis Papadopoulos ,Maria Kritou ,Kwstas Petsinas
</p>
