<div>
    @Html.ActionLink("Location", "Index", "Locations")
</div>
<div>
    @Html.ActionLink("Category", "Index", "Categories")
</div>
<div>
    @Html.ActionLink("Feature", "Index", "Features")
</div>
<div>
    @Html.ActionLink("Reservation", "Index", "Reservations")
</div>