@*@{
        ViewBag.Title = "Admin Page";
    }*@

<h2>Admin Panel</h2>

<br />

<!-- Admin Panel -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Options</h3>
                </div>
                <div class="panel-body">
                        @Html.ActionLink("Location", "Index", "Locations", null, new { @class = "btn btn-primary btn-block" })
                        @Html.ActionLink("Category", "Index", "Categories", null, new { @class = "btn btn-success btn-block" })
                        @Html.ActionLink("Reservation", "Index", "Reservations", null, new { @class = "btn btn-warning btn-block" })
                        @Html.ActionLink("House", "Index", "Houses", null, new { @class = "btn btn-danger btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>