@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookNGo</h1>
    <p class="lead">Hey, this project is open source with GNU license ^_^</p>
    <p><a href="https://github.com/SeijinD/BookNGo" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This platform work for you!</h2>
    </div>
</div>